@use "../../index.scss" as v;

.carousel-item-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);

.avatar-container {
    --avatar-size: 50px;
    height: var(--avatar-size);
    width: var(--avatar-size);
    position: relative;

    .avatar-container img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        }
    }
    .lookupValue-text{
        color: v.$dark-text;
        font-size: 13px;
    }
    .count-text{
        color: v.$light-text;
        font-size: 10px;
        opacity: v.$light-text-opacity; ;
    }
}