@use "../../index.scss" as v;


    .header-rate {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
  

    .header-badge-image {
        width: 52px;
        height: 52px;
        margin-right: 8px;
    }
        .badge-count-text {
            color: v.$light-text;
            font-size: 10px;
        }
}

