* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


/* Define the grid container */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* Creates a grid with columns that adjust to fit the container */
  grid-gap: 20px;
  /* Add some spacing between grid items */
}

/* Define the grid items */
.item {
  background-color: #ccc;
  padding: 20px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-auto-rows: minmax(12.5rem, auto);
  grid-gap: 12px;
  padding: 10px;

  .grid-item {
    background: #f6f6ff;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(98, 127, 232, 0.4);
    display: flex;
    flex-wrap: wrap;
  }
}