$dark-text: #4A4A4A;
$light-text: #B3B3B3;
$light-text-opacity: 0.3;
$webkitShadow: 8px 16px 0px 0px rgba(0, 0, 0, 0.16);
$mozBoxShadow: 8px 16px 0px 0px rgba(0, 0, 0, 0.16);
$boxShadow: 8px 16px 0px 0px rgba(0, 0, 0, 0.16);

